/**************************** 
      imports 
  ****************************/

/**************************** 
      custom variables 
  ****************************/

// Colores principales sugeridos por reto Single Page Developer Portfolio  

$black-bis: hsl(0, 0%, 8%) 
$turquoise: hsl(153, 71%, 59%) 
$black-ter: hsl(0, 0%, 14%) 
$grey-lighter: hsl(0, 0%, 85%) 
$red: hsl(7, 100%, 68%)

$dark: $black-bis


// Tamaños de texto sugeridos por reto Single Page Developer Portfolio
$text-xl:5.5rem
$text-l:3rem
$text-m:1.5rem
$normal-text:1.125rem

$body-family: $font-family-custom 

$spacing-values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, "4": 1rem, "5": 1.5rem, "6": 2rem, "7": 2rem,"auto": auto) !default





