
/**************************** 
      resets
  ****************************/
:root
  background: $dark
  

body
  padding: 0 10rem 0 10rem
  color: hsl(0,0%,100% ) 

.brand
  font-size: 2rem
  font-weight: 700
  letter-spacing: -0.44px


/**************************** 
      header
  ****************************/

/**************************** 
      main
  ****************************/


/**************************** 
      footer
  ****************************/